*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}


.container{
    display: grid;
}

.container1{
    width: 100%;
    height: 100vh;
    display: grid;
    background-image: url("./car2_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-template-columns: 150px 150px 700px 280px;
    grid-template-rows:20vh 20vh 20vh 20vh 20vh;
    grid-template-areas:
        "company_name company_name list list list list list list"
        "con2 con2 con2 con2 con2 con2 con2 con2"
        "con2 con2 con2 con2 con2 con2 con2 con2"
        "con3 con3 con3 con3 con3 con3 con3 con3"
        "con3 con3 con3 con3 con3 con3 con3 con3";
}

.company_name{
    display: flex;
    margin: 10px 30px 40px 10px;
    grid-area: company_name;
    grid: row2/colum2;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.list{
    display: flex;
    grid-area: list;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    font-size: 20px;
}

.list1{
    margin-left: 40px;
}

.con2{
    display: flex;
    grid-area: con2;
    justify-content: center;
}

.model_name{
    margin: 10px;
    padding: 10px;
}

.con3{
    display: flex;
    grid-area: con3;
    justify-content:center;
    align-items: flex-end;

}



.list_2{
    margin: 10px;
    display: flex;
    align-self: end;
}

.lll{
    margin-left: 50px;
    font-size: 30px;
    margin-right: 50px;
}

.lll1{
    display: flex;
    justify-content: center;
   
}

.lll1i{
    display: flex;
    justify-content: center;
    font-size: 15px;
   
}

.lll2{
    display: flex;
    justify-content: center;
   
}

.lll2i{
    display: flex;
    justify-content: center;
    font-size: 15px;
   
}

.lll3{
    display: flex;
    justify-content: center;
   
}

.lll3i{
    display: flex;
    justify-content: center;
    font-size: 15px;
   
}

.lll4{
    display: flex;
    justify-content: center;
   
}

.lll4i{
    display: flex;
    justify-content: center;
    font-size: 15px;
   
}